@import"_vars.scss";

@import "_mixins.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
}

.wrap {
    width: 1140px;
    margin: 0 auto;
}

.hidden {
    position: absolute;
    left: -999999px;
    width: 1px;
    height: 1px;
    opacity: 0;/*это все чтобы категории были видны в структуре и находились по поиску*/
}

/*шапка*/
@import "block/_header.scss";

/*promo на главной*/
@import "block/promo";


/*категории на главной*/
@import "block/categories";

/*page-title в каталоге*/

.page-title {
    background-color: #F8F3F4;
}

.page-title-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.new {
    font-size: 24px;
    line-height: 29px;
    color: $second-color;
}

/*фильтр и хлебные крошки*/

.breadcrumb-item {
    text-decoration: none;
    @include text-contacts()
}

.breadcrumb-item-active {
    color: $second-color;
    font-weight: 700;
    text-decoration: none;
}

.filter-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 51px;    
    padding-bottom: 27px;
}

.left-filter {
    width: 392px;
    display: flex;
    justify-content: flex-start;
}

.filter-text {
    font-size: 14px;
    line-height: 17px;
    color: $main-color;
    font-weight: 600;
    padding-right: 11px;
}

.middle-filter {
    display: flex;
    justify-content: space-between;
    width: 297px;
    @include text-contacts()
}


.size {
    padding-left: 13px;
}

.price {
    padding-left: 13px;
}

/*карточка товара в product*/
<<<<<<< Updated upstream
=======


>>>>>>> Stashed changes
.product-card {
    background-color: #F4F4F4B2;
    min-height: 777px;
    background-repeat: no-repeat;
    background-size: cover;  
}

.product-card-wrap {
    display: flex; 
    justify-content: center;
}

.product-card-photo {
    display: block;
    width: 597px;
    height: 724px;
}

<<<<<<< Updated upstream
=======
.product-card-info {
    position: relative;
    top: -50px;
    background-color: #FFFFFF;
    z-index: 1;

}

>>>>>>> Stashed changes
.product-card-info-wrap {
    text-align: center;
    border: 1px solid #EAEAEA;
}

.product-card-options {
    display: flex;
    justify-content: space-between;
    padding-left: 371px;
    padding-right: 370px;
}

.collection-name {
    font-size: 14px;
    line-height: 17px;
    color: $second-color;
    padding-top: 64px;
    padding-bottom: 12px;
}

.product-card-name {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;
    padding-top: 12px;
}

.product-card-description {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #5E5E5E;
    padding: 48px 292px 32px 294px;
}

.product-card-price {
    font-size: 24px;
    line-height: 29px;
    color: $second-color;
    padding-bottom: 65px;
}

.product-card-options {
    padding-top: 65px;
    padding-bottom: 48px;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}

.add-to-cart {
    display: inline-block;
    border: 1px solid $second-color;
    background-color:#FFFFFF;
    color: $second-color;
    padding: 14px 56px 8px 23px;
    vertical-align: middle;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 65px;
}

.add-to-cart-img {
    padding-right: 22px;
}

<<<<<<< Updated upstream
=======
/*популярные товары product*/

.product-fetured {
    padding-top: 75px;
    padding-bottom: 128px;
}


>>>>>>> Stashed changes
/*популярные товары на главной*/

.fetured_heading {
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    padding-top: 96px;
}

.featured_text {
    text-align: center;
    color: #9F9F9F;
    font-size: 14px;
    line-height: 17px;
    padding-top: 6px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 18px;
}

.product {
    width: 360px;
    background: #F8F8F8;
    text-decoration: none;
    margin-top: 30px;
}

.all_product_description {
    padding: 25px 28px 18px 16px;
}

.product_name {
    font-size: 13px;
    line-height: 16px;
    color: $main-color;
    padding-bottom: 12px;
}

.product_description {
    font-weight: 300;
    font-size: 14px;
    color: #5D5D5D;
    padding-bottom: 18px;
}

.product_price {
    font-size: 16px;
    line-height: 19px;
    color: $second-color;
}

/*pagination в каталоге*/

.pagination {
    display: flex;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 109px;
}

.pagination-nav {
    display: inline-block;
    margin-top: 48px;
    padding: 15px 16px;
}

.pagination-list .page-item{
    float: left;
    display: block;
}

.pagination-list .page-item .page-link {
    display: block;
    border-color: black;
}

.page-item {
    list-style-type: none;
}

.page-link {
    text-decoration: none;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #5D5D5D;
}


/*кнопка посередине на главной*/

.button {
    display: flex;
    justify-content: center;
}

.button_all_products {
    font-size: 16px;
    line-height: 19px;
    color: $second-color;
    text-align: center;
    border: 1px solid $second-color;
    text-decoration: none;
    padding: 15px;
    display: inline-block;
    margin-top: 49px;
    margin-bottom: 95px;
}


/*преимущества*/
.advantages {
    background-color: $main-color;
}

.advantages-wrap {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.delivery {
    color: #FBFBFB;
    text-align: center;
    text-decoration: none;
    padding: 103px 0;
}

.delivery_heading {
    padding: 28px 0 16px;
    font-size: 19.96px;
    line-height: 24px;
}

.delivery_text {
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
}

.sales {
    color: #FBFBFB;
    text-align: center;
    text-decoration: none;
    padding: 103px 0;
}

.sales_heading {
    font-size: 19.96px;
    line-height: 24px;
    padding: 28px 0 16px;
}

.sales_text {
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
}

.assurance {
    color: #FBFBFB;
    text-align: center;
    text-decoration: none;
    padding: 103px 0;
}

.assurance_heading {
    font-size: 19.96px;
    line-height: 24px;
    padding: 28px 0 16px;
}

.assurance_text {
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
}

/*обратная связь и форма мейл*/

.feedback {
    min-height: 448px;
    background-color: #F4F4F4B2;
    background-image: url(../photo/feedback.jpg);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: cover;  
}

.feedback-wrap {
    margin-top: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    
}

.comment {
    width: 424px;
    text-decoration: none;
}

.comment-photo {
    height: 96px;
    margin-bottom: 35px; 
}
.comment-text {
    line-height: 24px;
    color: $main-color;
    font-weight: 400;
}

.comment-text-italic {
    font-style: italic;
}

.subscribe {
    padding-right: 104px;
}

.subscribe-text {
    font-size: 24px;
    line-height: 40px;
}

.subscribe-heading {
    font-weight: 700;
}

.subscribe-heading-mini {
    font-size: 18px;
    font-weight: 400;
}

.subscribe-forma {
    display: flex;
}

.subscribe-email {
    background-color: #E1E1E1;
    font-size: 14px;
    line-height: 17px;
    height: 49px;
    width: 250px;
    color: $main-color;
    padding-left: 22px;
    padding-right: 64px;
    border: none;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.subscribe-email::placeholder {
    font-size: 14px;
    line-height: 17px;
    opacity: 0.67;
    color: $main-color;
}

.subscribe-email:hover {
    background-color: #c7c5c5;
}

.subscribe-submit {
    background-color: $second-color;
    height: 49px;
    width: 100px;
    color: #FFFFFF;
    text-align: center;
    border: none;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.subscribe-submit:hover {
    background-color: #c35766;
}

/*подвал*/

.footer {
    background-color: $main-color;
    padding: 30px 0;
    margin-top: auto;
    min-height: 79px;
}

.footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-text {
    color: #FBFBFB;
    font-size: 16px;
    line-height: 19px;
}


.instagram {
    padding: 0 7px ;
}

.pinterest {
    padding-right: 7px;
}

.footer-link {
    color: transparent;
    text-decoration: none;
}