@import"_vars.scss";

@import "_mixins.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
}

.wrap {
    width: 1140px;
    margin: 0 auto;
}

.hidden {
    position: absolute;
    left: -999999px;
    width: 1px;
    height: 1px;
    opacity: 0;/*это все чтобы категории были видны в структуре и находились по поиску*/
}

/*шапка*/
@import "block/_header.scss";

/*promo на главной*/
@import "block/promo";


/*категории на главной*/
@import "block/categories";


/*page-title в каталоге*/

.page-title {
    background-color: #F8F3F4;
}

.page-title-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.new {
    font-size: 24px;
    line-height: 29px;
    color: $second-color;
}

/*фильтр и хлебные крошки*/

.breadcrumb-item {
    text-decoration: none;
    @include text-contacts()
}

.breadcrumb-item-active {
    color: $second-color;
    font-weight: 700;
    text-decoration: none;
}

/*фильтр в каталоге*/

.filter-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 51px;    
    padding-bottom: 27px;
}

.left-filter {
    display: flex;
    justify-content: flex-start;
    
}

/*скрываем стрелку*/
summary { display: block;}
::-webkit-details-marker {display: none;}

/*закрытый фильтр*/

.filter-open {
    width: 360px;
    position: relative;
}

.filter-text {
    padding-top: 16px;
    padding-left: 16px;
}

/*открытый фильтр*/
.filter-open[open] {
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.filter-open[open] .filter-text {
    color:$second-color;
}

.filter-open[open] .filter-svg {
    color: $second-color;
}

/*выпадающая часть*/

.filter-content {
    position: absolute;
    width: 360px;
    background-color: #FFFFFF;
    padding: 24px 15px 16px 17px;
    color:#6F6E6E;
}

.filter-text {
    font-size: 14px;
    line-height: 17px;
    color: $main-color;
    font-weight: 600;
}

.filter-element {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    border-left: 5px solid $second-color;
    border-bottom: 1px solid #EBEBEB;
    padding: 11px;
    margin-bottom: 18px;
}

.filter-content-list {
    padding: 13px 17px;
}

.filter-item {
    display: flex;
    flex-flow: column;
    margin-bottom: 11px;
    text-decoration: none;
    color:#6F6E6E;
}

/*открытый подпункт фильтра*/
.filter-content-menu[open] .filter-element{
    color: $second-color;
}

/*фильтр посередине*/

.middle-filter {
    margin-left: 20px;
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
    width: 297px;
    margin-left: 32px;
    padding-top: 16px;
    @include text-contacts()
}

.filter-checkbox-label {
    display: block;
    margin-bottom: 6px;
}

/*закрытый фильтр*/

.middle-filter-open {
    position: relative;
}

/*открытый фильтр*/
.middle-filter-open[open] .middle-filter-checkbox {
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

/*выпадающая часть*/
.middle-filter-checkbox {
    position: absolute;
    width: 79px;
    background-color: #FFFFFF;
    padding: 9px 9px 0 9px;
}

.filter-checkbox-label {
    display: block;
    margin-bottom: 6px;
}

/*карточка товара в product*/


.product-card {
    background-color: #F7F7F7;
    background-size: cover; 
    width: 100%;
    padding-bottom: 50px;
}

.product-card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider {
    background: rgba(42, 42, 42, 0.15);
    width: 31px;
    height: 31px;
    border: none;
}

.product-card-photo {
    display: block;
    width: 597px;
    height: 724px;
}


.product-card-info-wrap {
    text-align: center;
    border: 1px solid #EAEAEA;
    background-color: #FFFFFF;
    margin-top: -50px;
}

.product-card-options {
    display: flex;
    justify-content: space-between;
    padding-left: 371px;
    padding-right: 370px;
}

.collection-name {
    font-size: 14px;
    line-height: 17px;
    color: $second-color;
    padding-top: 64px;
    padding-bottom: 12px;
}

.product-card-name {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;
    padding-top: 12px;
}

.product-card-description {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #5E5E5E;
    padding: 48px 292px 32px 294px;
}

.product-card-price {
    font-size: 24px;
    line-height: 29px;
    color: $second-color;
    padding-bottom: 65px;
}

.product-card-options {
    padding-top: 65px;
    padding-bottom: 48px;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}

.add-to-cart {
    display: inline-block;
    border: 1px solid $second-color;
    background-color:#FFFFFF;
    color: $second-color;
    padding: 14px 56px 8px 23px;
    vertical-align: middle;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 65px;
    transition: 0.3s;
}

.add-to-cart:hover {
    background: #F16D7F;
    border: 1px solid #FF6A6A;
    color: #FFFFFF;
    transform: rotate(360deg);
}

.add-to-cart-img {
    padding-right: 22px;
}

/*популярные товары product*/

.product-fetured {
    padding-top: 75px;
    padding-bottom: 128px;
}


/*популярные товары на главной*/

.fetured_heading {
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    padding-top: 96px;
}

.featured_text {
    text-align: center;
    color: #9F9F9F;
    font-size: 14px;
    line-height: 17px;
    padding-top: 6px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 18px;
}

.product {
    width: 360px;
    background: #F8F8F8;
    text-decoration: none;
    margin-top: 30px;
    position: relative;
}

/*product в каталоге*/
.catalog-product {
    width: 360px;
    background: #F8F8F8;
    text-decoration: none;
    margin-top: 30px;
}


/*наложение черной прозрачной маски и кнопки на товар*/

.product-overlay {
    background-color:#00000097;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 420px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
    transform: scaleY(0);
    transform-origin: 50% bottom;
}

.product:hover .product-overlay {
    transform: scaleY(1);
}

.product-btn {
    border: 1px solid #FFFFFF;
    padding: 10px 13px;
    color: #FFFFFF;
    background-color: transparent;
    transition: 0.3s;

}

.cart-icon {
    margin-right: 11px;
}

.product-btn:hover {
    color: $second-color;
    background-color: #fff;
}


.all_product_description {
    padding: 25px 28px 18px 16px;
}

.product_name {
    font-size: 13px;
    line-height: 16px;
    color: $main-color;
    padding-bottom: 12px;
}

.product_description {
    font-weight: 300;
    font-size: 14px;
    color: #5D5D5D;
    padding-bottom: 18px;
}

.product_price {
    font-size: 16px;
    line-height: 19px;
    color: $second-color;
}

/*pagination в каталоге*/

.pagination {
    display: flex;
    justify-content: center;
    padding-top: 48px;
    padding-bottom: 96px;
}

.pagination-nav {
    border: 1px solid #EBEBEB;
    padding: 12px 1px 12px 16px;
}

.pagination-list .page-item{
    float: left;
    display: block;
}

.pagination-list .page-item .page-link {
    display: block;
    border-color: black;
}

.page-item {
    list-style-type: none;
    border-style: none;
    background:#FFFFFF;
    padding-right: 17px;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #EBEBEB;
    transition: 0.2s;
}

.page-item:hover {
    color: $second-color;
}

.page-item-before {
    padding-right: 1px;
}

.page-item-after {
    padding-right: 1px;
}

/*кнопка посередине на главной*/

.button {
    display: flex;
    justify-content: center;
}

.button_all_products {
    font-size: 16px;
    line-height: 19px;
    color: $second-color;
    text-align: center;
    border: 1px solid $second-color;
    text-decoration: none;
    padding: 15px;
    display: inline-block;
    margin-top: 49px;
    margin-bottom: 95px;
    transition: 0.4s;
}

.button_all_products:hover {
    background: #F16D7F;
    border: 1px solid #FF6A6A;
    color: #FFFFFF;
    transform: rotate(360deg);
}


/*блок формы в registration*/
.registration-info {
    background-color: #FFFFFF;;
}

.reg-block {
    display: flex;
    justify-content: center;
}

.reg-form {
    width: 360px;
    margin-top: 64px;
}   

.form-head {
    font-size: 16px;
    line-height: 19px;
    color: $main-color;
    font-weight: 300;
    margin-bottom: 20px;
}

.reg-field {
    padding: 12px 17px;
    width: 360px;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
    border: 1px solid #A4A4A4;
    margin-bottom: 20px;
}

.reg-field-last {
    margin-bottom: 15px;
}

.requirement {
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
    margin-bottom: 39px;
}

.gender {
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: #000000;
    margin-top: 11px;
    margin-bottom: 33px;
}

.gender-female {
    margin-left: 20px;
}

.form-head {
    margin-bottom: 20px;
}

.register-btn {
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    padding: 16px 29px;
    background-color: $second-color; 
    border: 1px solid $second-color;
    margin-bottom: 96px;
}

.reg-pointer {
    padding-left: 20px;
}

.privilege {
    margin-left: 128px;
    width: 652px;
    margin-top: 64px;
    font-weight: 300;
    color: #000000;
}

.privilege-head {
    font-size: 24px;
    line-height: 29px;
    font-weight: 300;
    margin-bottom: 22px;
}

.privilege-text {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 21px;
}

.privilege-item {
    list-style-type: none;
    margin-bottom: 16px;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
}

/*центральная часть страницы корзины*/

.cart {
    background-color: #FFFFFF;
}

.cart-block {
    display: flex;
    justify-content: space-between;
    padding-top: 96px;

}

.cart-products {
    width: 652px;    

}

.cart-product {
    display: flex;
    justify-content: start;
    filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
    margin-bottom: 40px;
}

.cart-prod-img {
   width: 262px; 
   height: 306px;
}

.cart-prod-text {
    margin-left: 31px;
    margin-top: 22px;
}

.cart-prod-head {
    font-size: 24px;
    line-height: 29px;
    color: #222222;
    font-weight: 400;
    margin-bottom: 42px;
}

.cart-item {
    list-style-type: none;
    margin-bottom: 6px;
    font-size: 22px;
    line-height: 26px;
    color: #575757;
}

.price-color {
    color: $second-color;
}

.cart-buttons {
    padding-top: 32px;
}

.cart-buttons-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 128px;
}

.shopping-btn {
    padding: 17px 40px;
    background-color: #FFFFFF;
    border: 1px solid #A4A4A4;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.cart-form-block {
    width: 360px;
}

.cart-form-head {
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    font-weight: 300;
    margin-bottom: 20px;
}

.cart-field {
    padding: 12px 17px;
    width: 360px;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
    border: 1px solid #A4A4A4;
    margin-bottom: 20px;
    font-weight: 300; 
}

.quote-btn {
    padding: 9px 15px;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: #4A4A4A;
    background-color: #FFFFFF;
    border: 1px solid #A4A4A4;
    margin-top: 3px;
    margin-bottom: 57px;
}

.checkout {
    background-color: #F5F3F3;
    padding: 39px 34px;
}

.sub {
    text-align: end;
    font-size: 11px;
    line-height: 13px;
    color: #4A4A4A;
    font-weight: 400;
}

.grand {
    text-align: end;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    margin-top: 12px;
    margin-bottom: 21px;
}

.sub-price {
    margin-left: 30px;
}

.grand-price {
    color: $second-color;
    font-weight: 700;
    margin-left: 30px;
}

.checkout-btn-wrap {
    display: flex;
    justify-content: center;
}

.checkout-btn {
    padding: 15px 41px;
    background-color: $second-color;
    color: #FFFFFF;
    border: none;
    margin-top: 17px;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
}

/*преимущества*/
.advantages {
    background-color: $main-color;
}

.advantages-wrap {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.delivery {
    color: #FBFBFB;
    text-align: center;
    text-decoration: none;
    padding: 103px 0;
}

.delivery_heading {
    padding: 28px 0 16px;
    font-size: 19.96px;
    line-height: 24px;
}

.delivery_text {
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
}

.sales {
    color: #FBFBFB;
    text-align: center;
    text-decoration: none;
    padding: 103px 0;
}

.sales_heading {
    font-size: 19.96px;
    line-height: 24px;
    padding: 28px 0 16px;
}

.sales_text {
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
}

.assurance {
    color: #FBFBFB;
    text-align: center;
    text-decoration: none;
    padding: 103px 0;
}

.assurance_heading {
    font-size: 19.96px;
    line-height: 24px;
    padding: 28px 0 16px;
}

.assurance_text {
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
}

/*обратная связь и форма мейл*/

.feedback {
    min-height: 448px;
    background-color: #F4F4F4B2;
    background-image: url(../photo/feedback.jpg);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: cover;  
}

.feedback-wrap {
    margin-top: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    
}

.comment {
    width: 424px;
    text-decoration: none;
}

.comment-photo {
    height: 96px;
    margin-bottom: 35px; 
}
.comment-text {
    line-height: 24px;
    color: $main-color;
    font-weight: 400;
}

.comment-text-italic {
    font-style: italic;
}

.subscribe {
    padding-right: 104px;
}

.subscribe-text {
    font-size: 24px;
    line-height: 40px;
}

.subscribe-heading {
    font-weight: 700;
}

.subscribe-heading-mini {
    font-size: 18px;
    font-weight: 400;
}

.subscribe-forma {
    display: flex;
}

.subscribe-email {
    background-color: #E1E1E1;
    font-size: 14px;
    line-height: 17px;
    height: 49px;
    width: 250px;
    color: $main-color;
    padding: 15px 24px;
    border: none;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;

}

.subscribe-email::placeholder {
    font-size: 14px;
    line-height: 17px;
    opacity: 0.67;
    color: $main-color;
}

.subscribe-email:hover {
    background-color: #c7c5c5;
}

.subscribe-submit {
    background-color: $second-color;
    height: 49px;
    width: 100px;
    color: #FFFFFF;
    text-align: center;
    border: none;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.subscribe-submit:hover {
    background-color: #c35766;
}

/*подвал*/

.footer {
    background-color: $main-color;
    padding: 30px 0;
    margin-top: auto;
    min-height: 79px;
}

.footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-text {
    color: #FBFBFB;
    font-size: 16px;
    line-height: 19px;
}


.instagram {
    padding: 0 7px ;
}

.pinterest {
    padding-right: 7px;
}

.footer-link {
    color: transparent;
    text-decoration: none;
}