* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
}

.wrap {
    width: 1140px;
    margin: 0 auto;
}

.hidden {
    position: absolute;
    left: -999999px;
    width: 1px;
    height: 1px;
    opacity: 0;/*это все чтобы категории были видны в структуре и находились по поиску*/
}

.header {
    background-color: #222222;
    padding: 18px 0;
}

.header-wrap {
    display: flex;
    justify-content: space-between;
}

.header-left, .header-right{
    display: flex;
    align-items: center; 
}

.header-logo-link {
    margin-right: 41px;
    text-decoration: none;
    color: transparent;
}

.button-search, .button-burger {
    background-color: transparent; /*чтобы картинка svg была видна*/
    border: none;
} 

.account-link {
    margin: 0 33px;
    text-decoration: none;
    color: transparent;
}

.cart-link {
    text-decoration: none;
    color: transparent;
}

.promo {
    background-color: #F1E4E6;
}

.promo-wrap {
    height: 764px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-image: url(../photo/promo.png);
    background-repeat: no-repeat;
    background-position-x: -224px;
    background-position-y: bottom;
}

.promo-title {
    font-size: 48px;
    color: #222222;
    line-height: 40px;
    margin-right: 90px;
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
}

.brand {
    font-weight: 900;
}

.of-luxerious {
    font-size: 30px;
    font-weight: bold;
}

.fashion {
    color: #F16D7F;
    font-size: 30px;
}

.categories {
    margin-top: 65px;
}

.categories-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.category-item {
    background-color: #C4C4C4;
    width: 360px;
    height: 260px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.category-item-women {
    background-image: url(../photo/women.jpg);
}

.category-item-men {
    background-image: url(../photo/men.jpg);
}

.category-item-kids {
    background-image: url(../photo/kids.jpg);
}

.category-item-acc {
    width: 100%;
    margin-top: 30px;
    height: 180px;
    background-image: url(../photo/accesories.jpg);
}

.category_text {
    color: #FFFFFF;
    font-size: 16px;
}

.category_red {
    color: #F16D7F;
    font-size: 20px;
    font-weight: bold;
    line-height: 28px;
}

.category_text_accesories {
    top: 71px;
    left: 495px;
}

.fetured_heading {
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    padding-top: 96px;
}

.featured_text {
    text-align: center;
    color: #9F9F9F;
    font-size: 14px;
    line-height: 17px;
    padding-top: 6px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 18px;
}

.product {
    width: 360px;
    background: #F8F8F8;
    text-decoration: none;
    margin-top: 30px;
}

.all_product_description {
    padding: 25px 28px 18px 16px;
}

.product_name {
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    padding-bottom: 12px;
}

.product_description {
    font-weight: 300;
    font-size: 14px;
    color: #5D5D5D;
    padding-bottom: 18px;
}

.product_price {
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.button {
    display: flex;
    justify-content: center;
}

.button_all_products {
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    text-align: center;
    border: 1px solid #FF6A6A;
    text-decoration: none;
    padding: 15px;
    display: inline-block;
    margin-top: 49px;
    margin-bottom: 95px;
}

.advantages {
    background-color: #222224;
}

.advantages-wrap {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.delivery {
    color: #FBFBFB;
    text-align: center;
    text-decoration: none;
    padding: 103px 0;
}

.delivery_heading {
    padding: 28px 0 16px;
    font-size: 19.96px;
    line-height: 24px;
}

.delivery_text {
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
}

.sales {
    color: #FBFBFB;
    text-align: center;
    text-decoration: none;
    padding: 103px 0;
}

.sales_heading {
    font-size: 19.96px;
    line-height: 24px;
    padding: 28px 0 16px;
}

.sales_text {
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
}

.assurance {
    color: #FBFBFB;
    text-align: center;
    text-decoration: none;
    padding: 103px 0;
}

.assurance_heading {
    font-size: 19.96px;
    line-height: 24px;
    padding: 28px 0 16px;
}

.assurance_text {
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
}

.feedback {
    min-height: 448px;
    background-color: #F4F4F4B2;
    background-image: url(../photo/feedback.jpg);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: cover;  
}

.feedback-wrap {
    margin-top: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    
}

.comment {
    width: 424px;
    text-decoration: none;
}

.comment-photo {
    height: 96px;
    margin-bottom: 35px; 
}
.comment-text {
    line-height: 24px;
    color: #222224;
    font-weight: 400;
}

.comment-text-italic {
    font-style: italic;
}

.subscribe {
    width: 500px;
    padding-right: 97px;
}

.subscribe-text {
    font-size: 24px;
    line-height: 40px;
}

.subscribe-heading {
    font-weight: 700;
}

.subscribe-heading-mini {
    font-size: 18px;
}

.subscribe-form {
    display: flex;
    justify-content: center;
}

.subscribe-email {
    background: #E1E1E1;
    font-size: 14px;
    line-height: 17px;
    height: 49px;
    width: 256px;
    color: #222224;
    padding-left: 22px;
    border: none;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}


.subscribe-submit {
    background: #F16D7F;
    height: 49px;
    width: 100px;
    color: #FFFFFF;
    text-align: center;
    border: none;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.footer {
    background-color: #222224;
    padding: 30px 0;
    margin-top: auto;
    min-height: 79px;
}

.footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-text {
    color: #FBFBFB;
    font-size: 16px;
    line-height: 19px;
}

.instagram {
    padding: 0 7px ;
}

.pinterest {
    padding-right: 7px;
}



