@charset "UTF-8";
/*переменные*/
/*примеси*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Lato', sans-serif;
}

.wrap {
  width: 1140px;
  margin: 0 auto;
}

.hidden {
  position: absolute;
  left: -999999px;
  width: 1px;
  height: 1px;
  opacity: 0;
  /*это все чтобы категории были видны в структуре и находились по поиску*/
}

/*шапка*/
.header {
  background-color: #222222;
  padding: 18px 0;
}

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-left, .header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo-link {
  margin-right: 41px;
  text-decoration: none;
  color: transparent;
}

.button-search, .button-burger {
  background-color: transparent;
  /*чтобы картинка svg была видна*/
  border: none;
}

.account-link {
  margin: 0 33px;
  text-decoration: none;
  color: transparent;
}

.cart-link {
  text-decoration: none;
  color: transparent;
}

/*promo на главной*/
.promo {
  background-color: #F1E4E6;
}

.promo-wrap {
  height: 764px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-image: url(../photo/promo.png);
  background-repeat: no-repeat;
  background-position-x: -224px;
  background-position-y: bottom;
}

.promo-title {
  font-size: 48px;
  color: #222222;
  line-height: 40px;
  margin-right: 90px;
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
}

.brand {
  font-weight: 900;
}

.of-luxerious {
  font-size: 30px;
  font-weight: bold;
}

.fashion {
  color: #F16D7F;
  font-size: 30px;
}

/*категории на главной*/
.categories {
  margin-top: 65px;
}

.categories-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.category-item {
  background-color: #C4C4C4;
  width: 360px;
  height: 260px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.category-item-women {
  background-image: url(../photo/women.jpg);
}

.category-item-men {
  background-image: url(../photo/men.jpg);
}

.category-item-kids {
  background-image: url(../photo/kids.jpg);
}

.category-item-acc {
  width: 100%;
  margin-top: 30px;
  height: 180px;
  background-image: url(../photo/accesories.jpg);
}

.category_text {
  color: #FFFFFF;
  font-size: 16px;
}

.category_red {
  color: #F16D7F;
  font-size: 20px;
  font-weight: bold;
  line-height: 28px;
}

.category_text_accesories {
  top: 71px;
  left: 495px;
}

/*page-title в каталоге*/
.page-title {
  background-color: #F8F3F4;
}

.page-title-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}

.new {
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

/*фильтр и хлебные крошки*/
.breadcrumb-item {
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.breadcrumb-item-active {
  color: #F16D7F;
  font-weight: 700;
  text-decoration: none;
}

.filter-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 51px;
  padding-bottom: 27px;
}

.left-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

/*скрываем стрелку*/
summary {
  display: block;
}

::-webkit-details-marker {
  display: none;
}

/*закрытый фильтр*/
.filter-open {
  width: 360px;
  position: relative;
}

.filter-text {
  padding-top: 16px;
  padding-left: 16px;
}

/*открытый фильтр*/
.filter-open[open] {
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.filter-open[open] .filter-text {
  color: #F16D7F;
}

.filter-open[open] .filter-text .filter-svg {
  color: #F16D7F;
}

/*выпадающая часть*/
.filter-content {
  position: absolute;
  width: 360px;
  background-color: #FFFFFF;
  padding: 24px 15px 16px 17px;
  color: #6F6E6E;
}

.filter-text {
  font-size: 14px;
  line-height: 17px;
  color: #222222;
  font-weight: 600;
}

.filter-element {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  border-left: 5px solid #F16D7F;
  border-bottom: 1px solid #EBEBEB;
  padding: 11px;
  margin-bottom: 18px;
}

.filter-content-list {
  padding: 13px 17px;
}

.filter-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin-bottom: 11px;
  text-decoration: none;
  color: #6F6E6E;
}

/*открытый подпункт фильтра*/
.filter-content-menu[open] .filter-element {
  color: #F16D7F;
}

.middle-filter {
  margin-left: 30px;
  padding-top: 16px;
}

.middle-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 297px;
  margin-left: 30px;
  padding-top: 16px;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.size {
  padding-left: 13px;
}

.filter-checkbox-label {
  display: block;
  margin-bottom: 6px;
}

.price {
  padding-left: 13px;
}

/*карточка товара в product*/
.product-card {
  background-color: #F7F7F7;
  background-size: cover;
  width: 100%;
  padding-bottom: 50px;
}

.product-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider {
  background: rgba(42, 42, 42, 0.15);
  width: 31px;
  height: 31px;
  border: none;
}

.product-card-photo {
  display: block;
  width: 597px;
  height: 724px;
}

.product-card-info-wrap {
  text-align: center;
  border: 1px solid #EAEAEA;
  background-color: #FFFFFF;
  margin-top: -50px;
}

.product-card-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 371px;
  padding-right: 370px;
}

.collection-name {
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  padding-top: 64px;
  padding-bottom: 12px;
}

.product-card-name {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  padding-top: 12px;
}

.product-card-description {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
  padding: 48px 292px 32px 294px;
}

.product-card-price {
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  padding-bottom: 65px;
}

.product-card-options {
  padding-top: 65px;
  padding-bottom: 48px;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.add-to-cart {
  display: inline-block;
  border: 1px solid #F16D7F;
  background-color: #FFFFFF;
  color: #F16D7F;
  padding: 14px 56px 8px 23px;
  vertical-align: middle;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 65px;
}

.add-to-cart-img {
  padding-right: 22px;
}

/*популярные товары product*/
.product-fetured {
  padding-top: 75px;
  padding-bottom: 128px;
}

/*популярные товары на главной*/
.fetured_heading {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  padding-top: 96px;
}

.featured_text {
  text-align: center;
  color: #9F9F9F;
  font-size: 14px;
  line-height: 17px;
  padding-top: 6px;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 18px;
}

.product {
  width: 360px;
  background: #F8F8F8;
  text-decoration: none;
  margin-top: 30px;
}

.all_product_description {
  padding: 25px 28px 18px 16px;
}

.product_name {
  font-size: 13px;
  line-height: 16px;
  color: #222222;
  padding-bottom: 12px;
}

.product_description {
  font-weight: 300;
  font-size: 14px;
  color: #5D5D5D;
  padding-bottom: 18px;
}

.product_price {
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

/*pagination в каталоге*/
.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 48px;
  padding-bottom: 96px;
}

.pagination-nav {
  border: 1px solid #EBEBEB;
  padding: 12px 1px 12px 16px;
}

.pagination-list .page-item {
  float: left;
  display: block;
}

.pagination-list .page-item .page-link {
  display: block;
  border-color: black;
}

.page-item {
  list-style-type: none;
  border-style: none;
  background: #FFFFFF;
  padding-right: 17px;
}

.page-link {
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #EBEBEB;
}

.page-item-before {
  padding-right: 1px;
}

.page-item-after {
  padding-right: 1px;
}

/*кнопка посередине на главной*/
.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button_all_products {
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  text-align: center;
  border: 1px solid #F16D7F;
  text-decoration: none;
  padding: 15px;
  display: inline-block;
  margin-top: 49px;
  margin-bottom: 95px;
}

/*преимущества*/
.advantages {
  background-color: #222222;
}

.advantages-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-decoration: none;
}

.delivery {
  color: #FBFBFB;
  text-align: center;
  text-decoration: none;
  padding: 103px 0;
}

.delivery_heading {
  padding: 28px 0 16px;
  font-size: 19.96px;
  line-height: 24px;
}

.delivery_text {
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
}

.sales {
  color: #FBFBFB;
  text-align: center;
  text-decoration: none;
  padding: 103px 0;
}

.sales_heading {
  font-size: 19.96px;
  line-height: 24px;
  padding: 28px 0 16px;
}

.sales_text {
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
}

.assurance {
  color: #FBFBFB;
  text-align: center;
  text-decoration: none;
  padding: 103px 0;
}

.assurance_heading {
  font-size: 19.96px;
  line-height: 24px;
  padding: 28px 0 16px;
}

.assurance_text {
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
}

/*обратная связь и форма мейл*/
.feedback {
  min-height: 448px;
  background-color: #F4F4F4B2;
  background-image: url(../photo/feedback.jpg);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: cover;
}

.feedback-wrap {
  margin-top: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.comment {
  width: 424px;
  text-decoration: none;
}

.comment-photo {
  height: 96px;
  margin-bottom: 35px;
}

.comment-text {
  line-height: 24px;
  color: #222222;
  font-weight: 400;
}

.comment-text-italic {
  font-style: italic;
}

.subscribe {
  padding-right: 104px;
}

.subscribe-text {
  font-size: 24px;
  line-height: 40px;
}

.subscribe-heading {
  font-weight: 700;
}

.subscribe-heading-mini {
  font-size: 18px;
  font-weight: 400;
}

.subscribe-forma {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe-email {
  background-color: #E1E1E1;
  font-size: 14px;
  line-height: 17px;
  height: 49px;
  width: 250px;
  color: #222222;
  padding-left: 22px;
  padding-right: 64px;
  border: none;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.subscribe-email::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 17px;
  opacity: 0.67;
  color: #222222;
}

.subscribe-email:-ms-input-placeholder {
  font-size: 14px;
  line-height: 17px;
  opacity: 0.67;
  color: #222222;
}

.subscribe-email::-ms-input-placeholder {
  font-size: 14px;
  line-height: 17px;
  opacity: 0.67;
  color: #222222;
}

.subscribe-email::placeholder {
  font-size: 14px;
  line-height: 17px;
  opacity: 0.67;
  color: #222222;
}

.subscribe-email:hover {
  background-color: #c7c5c5;
}

.subscribe-submit {
  background-color: #F16D7F;
  height: 49px;
  width: 100px;
  color: #FFFFFF;
  text-align: center;
  border: none;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.subscribe-submit:hover {
  background-color: #c35766;
}

/*подвал*/
.footer {
  background-color: #222222;
  padding: 30px 0;
  margin-top: auto;
  min-height: 79px;
}

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-text {
  color: #FBFBFB;
  font-size: 16px;
  line-height: 19px;
}

.instagram {
  padding: 0 7px;
}

.pinterest {
  padding-right: 7px;
}

.footer-link {
  color: transparent;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */