.cart {
    background-color: #FFFFFF;
}

.cart-block {
    display: flex;
    justify-content: space-between;
    padding-top: 96px;
}

.cart-products {
    min-width: 652px; 
}

/*одна карточка*/

.cart-product {
    display: flex;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    margin-bottom: 40px;
    height: 306px;
    position: relative;
}

.cart-product-close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    background-color: #FFFFFF;
    padding: 5px;
    cursor: pointer;
}

.cart-prod-img {
   width: 262px; 
   height: 306px;
}

/*описание товара*/

.cart-prod-text {
    margin-left: 31px;
    margin-top: 22px;
}

.cart-prod-head {
    font-size: 24px;
    line-height: 29px;
    color: #222222;
    font-weight: 400;
    margin-bottom: 42px;
}

.cart-item {
    list-style-type: none;
    margin-bottom: 6px;
    font-size: 22px;
    line-height: 26px;
    color: #575757;
}

.price-color {
    color: $second-color;
}

/*кнопки*/

.cart-buttons-wrap {
    padding-top: 32px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 128px;
}

.shopping-btn {
    padding: 17px 40px;
    background-color: #FFFFFF;
    border: 1px solid #A4A4A4;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    text-transform: uppercase;
    cursor: pointer;
}

.cart-form-block {
    min-width: 360px;
}

.cart-form-head {
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    font-weight: 300;
    margin-bottom: 20px;
}

.cart-field {
    padding: 12px 17px;
    width: 360px;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
    border: 1px solid #A4A4A4;
    margin-bottom: 20px;
    font-weight: 300; 
}

.quote-btn {
    padding: 9px 15px;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: #4A4A4A;
    background-color: #FFFFFF;
    border: 1px solid #A4A4A4;
    margin-top: 3px;
    margin-bottom: 57px;
    cursor: pointer;
}

.checkout {
    background-color: #F5F3F3;
    padding: 39px 34px;
}

.sub {
    text-align: end;
    font-size: 11px;
    line-height: 13px;
    color: #4A4A4A;
    font-weight: 400;
}

.grand {
    text-align: end;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    margin-top: 12px;
    margin-bottom: 21px;
}

.sub-price {
    margin-left: 30px;
}

.grand-price {
    color: $second-color;
    font-weight: 700;
    margin-left: 30px;
}

.checkout-btn-wrap {
    display: flex;
    justify-content: center;
}

.checkout-btn {
    padding: 15px 41px;
    background-color: $second-color;
    color: #FFFFFF;
    border: none;
    margin-top: 17px;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .cart-block {
        flex-direction: column;
        width: 360px;
    }

    .cart-form-block {
        display: flex;
        flex-direction: row;
        justify-content: space-between; 
    }

    .cart-products {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .cart-product {
        min-width: 734px;
    }

    .cart-buttons-wrap {
        justify-content: space-around;
    }

    .checkout {
        padding: 39px 34px 42px 44px;
        margin-top: 38px;
        max-height: 214px;
        min-width: 360px;
    }

    .cart-form {
        margin-right: 15px;
    }
}

@media (max-width: 760px) {
    .page-title-new {
        padding-top: 50px;
    }

    .cart-block {
        width: 348px;
        padding-top: 39px;
    }

    .cart-products {
        min-width: 358px;
    }

    .cart-product {
        min-width: 358px;
        margin-bottom: 40px;
        height: 188px;
        }
    
    .cart-prod-img {
        width: 143px; 
        height: 188px;
     }
     .cart-prod-text {
        margin-left: 17px;
        margin-top: 13px;
    }
    
    .cart-prod-head {
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 25px;
        max-width: 141px;
    }
    
    .cart-item {
        list-style-type: none;
        margin-bottom: 6px;
        font-size: 14px;
        line-height: 16px;
        color: #575757;
    }

    .shopping-btn {
        padding: 8px 17px;
        font-size: 12px;
        line-height: 14px;
        color: #000000;
        text-transform: none;
    }

    .cart-form-block {
        flex-direction: column;
    }

    .cart-buttons-wrap {
        padding-top: 0px;
        margin-bottom: 48px;
    }

    .checkout {
        margin-top: 0px;
        margin-bottom: 96px;
    }

}