.registration-info {
    background-color: #FFFFFF;;
}

.reg-block {
    display: flex;
    justify-content: center;
    margin-top: 64px;
}

.reg-form {
    width: 360px;
}   

.form-head {
    font-size: 16px;
    line-height: 19px;
    color: $main-color;
    font-weight: 300;
    margin-bottom: 20px;
}

.reg-field {
    padding: 12px 17px;
    width: 360px;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
    border: 1px solid #A4A4A4;
    margin-bottom: 20px;
}

.reg-field-last {
    margin-bottom: 15px;
}

.requirement {
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
    margin-bottom: 39px;
}

.gender {
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: #000000;
    margin-top: 11px;
    margin-bottom: 33px;
}

.gender-group {
    cursor: pointer;
}

.gender-female {
    margin-left: 20px;
}

.form-head {
    margin-bottom: 20px;
}

.register-btn {
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    padding: 16px 29px;
    background-color: $second-color; 
    border: 1px solid $second-color;
    margin-bottom: 96px;
    cursor: pointer;
}

.reg-pointer {
    padding-left: 20px;
}

.privilege {
    margin-left: 128px;
    max-width: 652px;
    font-weight: 300;
    color: #000000;
    font-size: 24px;
    line-height: 29px;
}

.privilege-head {
    font-weight: 300;
    margin-bottom: 22px;
}

.privilege-text {
    margin-bottom: 21px;
}

.privilege-item {
    list-style-type: none;
    margin-bottom: 16px;
    font-weight: 300;
}

.privilage-item-img {
    margin-right: 22px;
}

@media (max-width: 1200px) {
    .reg-block {
        margin-top: 40px;
    }

    .privilege {
        margin-left: 22px;
        max-width: 354px;
        font-size: 16px;
        line-height: 19px;
    }
    
    .privilege-head {
        font-weight: 300;
        margin-bottom: 22px;
    }
    
    .privilege-text {
        margin-bottom: 21px;
    }
    
    .privilege-item {
        list-style-type: none;
        margin-bottom: 16px;
        font-weight: 300;
    }
}

@media (max-width: 760px) {
    .reg-block {
       flex-direction: column;
       align-items: center;
    }

    .privilege {
        margin-left: 0px;
        margin-bottom: 80px;
    }

    .register-btn {
        margin-bottom: 40px;
    }
}