.cart {
    background-color: #FFFFFF;
}

.cart-block {
    display: flex;
    justify-content: space-between;
    padding-top: 96px;

}

.cart-products {
    width: 652px; 
}

.cart-product {
    display: flex;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    margin-bottom: 40px;
    height: 306px;
}

.cart-prod-img {
   width: 262px; 
   height: 306px;
}

.cart-prod-text {
    margin-left: 31px;
    margin-top: 22px;
}

.cart-prod-head {
    font-size: 24px;
    line-height: 29px;
    color: #222222;
    font-weight: 400;
    margin-bottom: 42px;
}

.cart-item {
    list-style-type: none;
    margin-bottom: 6px;
    font-size: 22px;
    line-height: 26px;
    color: #575757;
}

.price-color {
    color: $second-color;
}

.cart-buttons {
    padding-top: 32px;
}

.cart-buttons-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 128px;
}

.shopping-btn {
    padding: 17px 40px;
    background-color: #FFFFFF;
    border: 1px solid #A4A4A4;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.cart-form-block {
    width: 360px;
}

.cart-form-head {
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    font-weight: 300;
    margin-bottom: 20px;
}

.cart-field {
    padding: 12px 17px;
    width: 360px;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
    border: 1px solid #A4A4A4;
    margin-bottom: 20px;
    font-weight: 300; 
}

.quote-btn {
    padding: 9px 15px;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: #4A4A4A;
    background-color: #FFFFFF;
    border: 1px solid #A4A4A4;
    margin-top: 3px;
    margin-bottom: 57px;
}

.checkout {
    background-color: #F5F3F3;
    padding: 39px 34px;
}

.sub {
    text-align: end;
    font-size: 11px;
    line-height: 13px;
    color: #4A4A4A;
    font-weight: 400;
}

.grand {
    text-align: end;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    margin-top: 12px;
    margin-bottom: 21px;
}

.sub-price {
    margin-left: 30px;
}

.grand-price {
    color: $second-color;
    font-weight: 700;
    margin-left: 30px;
}

.checkout-btn-wrap {
    display: flex;
    justify-content: center;
}

.checkout-btn {
    padding: 15px 41px;
    background-color: $second-color;
    color: #FFFFFF;
    border: none;
    margin-top: 17px;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
}