.header {
    background-color: $main-color;
    padding: 18px 0;
    position: relative;
}

.header-wrap {
    display: flex;
    justify-content: space-between;
}

.header-left .header-right{
    display: flex;
    align-items: center; 
}

.header-logo-link {
    margin-right: 41px;
    text-decoration: none;
    color: transparent;
}

.button-search, .button-burger {
    background-color: transparent; /*чтобы картинка svg была видна*/
    border: none;
} 

.account-link {
    margin: 0 33px;
    text-decoration: none;
    color: transparent;
}

.cart-link {
    text-decoration: none;
    color: transparent;
}

/*меню навигации*/

.main-menu {
    background-color: #FFFFFF;
    width: 235px;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    padding: 40px 36px;
    position: absolute;
    right: 0;
    top:100%;
    min-height: 764px;
}

.main-menu-open {
    display: block;
}

.main-menu-close {
    display: none;
}

.main-menu-box {
    position: relative;
}

.main-menu-close-btn {
    position: absolute;
    top: -24px;
    right: -24px;
    border: none;
    background-color: #FFFFFF;
    padding: 5px;
}

.main-menu-close-btn:hover{
    background-color: #E5E5E5;
}

.main-menu-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 25px;
}

.main-menu-list {
    list-style: none;
}

.main-menu-link {
    text-decoration: none;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: $second-color;
    text-transform: uppercase;
}

.main-submenu {
    list-style: none;
    padding-left: 20px;
}

.main-submenu-link {
    text-decoration: none;
}

@media (max-width: 760px) {
    .account-link {
        display: none;
    }

    .cart-link {
        display: none;
    }

    .button-burger {
        margin-top: 9px;
    }
}